.App{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .35s ease-in-out;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('image/lbg1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .form-upload{
        display: flex;
        justify-content: center;
    }
    .switch{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
    &.duck{
        background-color: #000;
        background:url('image/duckbg.png');
        color: #fff;
        a{
            color: #fff; 
        }
    }
    .slider{
        position: absolute;
        top: 23px;
        left: 10%;
        cursor: pointer;
        a{
            color: #000;
            font-size: 20px;
        }
        &.duck{
            a{
                color: #fff;
            }
        }
    }
    .bg{
        position: absolute;
        top: 0;
        transition: all .35s ease;
        object-fit: cover;
        right: 10px;
        z-index: 2;
        max-width: 700px;
        height: 100vh;
        will-change: opacity;
        
    }
    .transitions-item {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 5em;
        font-weight: 800;
        text-transform: uppercase;
        will-change: transform, opacity, height;
        white-space: nowrap;
        cursor: pointer;
        line-height: 80px;
      }
      .back-btn{
          position: absolute;
          bottom: 30px;
          left: 50px;
          animation: smallBig .35s ease-in-out infinite;
          color: #fff;
          &::before{
            content: "";
            position: absolute;
            top: -12px;
            left: -60px;
            border: 30px;
            border-style: solid;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            animation: smallBigB .35s ease-in-out infinite;;
          }
      }

      @keyframes smallBig {
        from {
            transform: translateX(-10px);
            background-color: red;
        }
        to {
            transform: translateX(0px);
            background-color: yellow;
        }
      }
      @keyframes smallBigB {
        from {
            border-right-color: red;
        }
        to {
            border-right-color: yellow;
        }
      }
}
@media only screen and (max-width: 600px) {
    .App{
        .switch{
            span{
                font-size: 10px;
            }
        }
        .bg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100vw;
        }   
    }
}